<h1>Application Logs</h1>
<table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Type</th>
      <th>Detail</th>
      <th>var1</th>
      <th>var2</th>
      <th>User ID</th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
    <tr>
      <td><abbr class="timeago" title="<%= log.created_at %>"><%= log.created_at %></abbr></td>
      <td><%= log.type %></td>
      <td><%= log.details.gsub("\n", "<br/>").gsub("membit", "<strong>membit</strong>").html_safe %></td>
      <td><%= log.var1 %></td>
      <td><%= log.var2 %></td>
      <td><%= log.user_id %></td>
    </tr>
    <% end %>
  </tbody>
</table>
