<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Membit" %></title>
    <%= csrf_meta_tags %>

    <% if current_user && !current_user.remote_debug_code.blank? %>
        <script src="http://jsconsole.com/remote.js?<%= current_user.remote_debug_code %>"></script>
    <% end %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <link href="/assets/favicon.ico" rel="shortcut icon">
    <link href="/assets/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/assets/icon_072.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/assets/icon_114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="/assets/icon_144.png" rel="apple-touch-icon" sizes="144x144">
    <% if Rails.env.production? && !(user_signed_in? && current_user.role.admin?) %>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-350968-15']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    <% end %>
  </head>
  <!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
  <!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
  <!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
  <!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
  <!--[if (gt IE 9)]><body class="modern"> <![endif]-->
  <!--[!(IE)]><!-->  <body class="notIE modern"> <!--<![endif]-->

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Membit</a>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><%= link_to "/" do %>
                    <i class='icon-home'></i> Home
                    <% end %></li>
            </ul>
            <ul class="nav pull-right">
              <li>
                <%= link_to "/help" do %>
                    <i class="icon-question-sign"></i> Help
                <% end %>
              </li>
              <% if !user_signed_in?%>
                  <% if User.registrations_open? %>
                    <li>
                      <%= link_to "/register" do %>
                          <i class="icon-user"></i> Register
                      <% end %>
                    </li>
                  <% end %>
                      <%= form_tag '/log_in', :class => "navbar-form pull-right" do |f| %>
                          <%= email_field_tag :email, '', :class => 'span2', :placeholder => 'Email' %>
                          <%= password_field_tag :password, '', :class => 'span2', :placeholder => 'Password' %>
                          <%= submit_tag 'Log In' %>
                      <% end %>
              <% else %>
                  <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown">
                      <i class='icon-user'></i> Account
                       <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to "/account/change_password" do %>
                            <i class='icon-lock'></i> Change Password
                        <% end %>
                      </li>
                      <% if can? :read, :dashboard %>
                          <li>
                            <%= link_to "/dashboard/words" do %>
                                <i class='icon-list'></i> Word List
                            <% end %>
                          </li>
                          <li>
                      <% end %>
                      <% if can? :withdraw, :self %>
                          <li>
                            <%= link_to "/account/withdraw" do %>
                                <i class='icon-trash'></i> Withdraw Participation...
                            <% end %>
                          </li>
                          <li>
                      <% end %>
                      <hr/>
                      </li>
                      <li>
                        <%= link_to "/log_out" do %>
                            <i class='icon-off'></i> Log out
                        <% end %>
                      </li>
                    </ul>
                  </li>
              <% end %>
              <% if can? :manage, :all %>
                  <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown">
                      <i class='icon-lock'></i> Administration
                      <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to "/registration_codes" do %>
                            <i class='icon-lock'></i> Manage Registration Codes
                        <% end %>
                      </li>
                    </ul>
                  </li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <%= render "partials/flashmessages" %>

        <% if @debug && ENV['RAILS_ENV'] == "development" %>
        <%= debug(@debug) %>
        <% end %>

        <%= yield %>
      </div><!--/content-->

      <footer>
        <p></p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
